body{
    background-color: #EADDCA;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    overflow: hidden;
    transform: translateX(10%);
}

.container img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.0);
    transition: transform 0.5s ease, width 0.5s ease;
}

.container img:hover{
    width: 30%;
    transform: scale(1.1); 
}

.title{
    font-family: Ramaraja, serif;
    font-size: 60px;
    line-height: 90px;
    margin-top: -500px; /* Adjust this value to align with images */
    margin-left: 30px;
}